html(lang="en-US")
    head
        title #{title}
        meta(charset="UTF-8")
        meta(name="author", content="Vysum Team")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(name="description", content=description)
        meta(name="theme-color", content="#4A9B2E")

        meta(property="og:title", content=title)
        meta(property="og:description" content=description)
        meta(property="og:type", content="website")
        meta(property="og:image" conent=image)

        meta(name="twitter:card", content="summary_large_image")

        link(rel="stylesheet", href="/vendor/bootstrap/css/bootstrap.min.css")
        link(rel="stylesheet", href="/vendor/fontawesome/css/all.min.css")
        link(rel="stylesheet", href="/vendor/noty/noty.css")
        link(rel="stylesheet", href="/vendor/videojs/video-js.min.css")
        link(rel="stylesheet", href="/vendor/videojs/themes/forest/index.css")
        link(rel="stylesheet", href="/assets/css/vysum.core.css")
    
    body
        div#appMount(style="margin: 0; padding: 0; width: 100%; height: 100%;")
            include _navbar.pug


        script(type="text/javascript", src="/vendor/jquery/jquery.min.js")
        script(type="text/javascript", src="/vendor/bootstrap/js/bootstrap.min.js")
        script(type="text/javascript", src="/vendor/moment/moment.min.js")
        script(type="text/javascript", src="/vendor/noty/noty.min.js")
        script(type="text/javascript", src="/vendor/videojs/video.min.js")


